* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(/img/bg3.png) no-repeat center center fixed;
    background-size: cover;
}

.introduce {
    width: 24.375em;
    height: 10.625em;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 8.75rem;
    left: 2.5rem;
    color: white;
    padding: 0.625em;
}

h4>span {
    font-size: 0.8em;
}

.introduce>p {
    margin: 1em 0;
    font-size: 0.8em;
}

.contact {
    width: 15.625em;
    height: 7em;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 21.875rem;
    left: 2.5rem;
    color: white;
    padding: 0.625em;
}

.line {
    margin-top: 0.3125em;
    width: 9.375em;
    border: 2px solid rgb(242, 255, 36);
    border-radius: 0.3125em;
}

.erweima>img {
    width: 2.8125em;
}

.contact>p {
    margin: 1em 0;
    font-size: 0.8em;
}

.content_list {
    width: 30.625em;
    height: 16.75em;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 5.75rem;
    right: 8.75em;
    padding: 0.625em;
    color: white;
}

.passage_list>li {
    margin: 1.4em 0;
}

.passage_list>li>a {
    color: white;
}

.passage_list>li>a:hover {
    color: rgb(242, 255, 36);
}